SECRET_KEY = '{{ BAM_ADMIN | password_hash('sha512') }}'
ADMIN_USER = '{{ BAM_ADMIN }}'
HTPASSWD_FILE = '{{ BAM_HTPASSWD_FILE }}'
SMTP_FROM = "{{ BAM_SMTP_FROM }}"
SMTP_SERVER = "{{ BAM_SMTP_HOST }}"
SMTP_TRANSPORT = "{{ BAM_SMTP_TRANSPORT }}"
SMTP_PORT = "{{ BAM_SMTP_PORT }}"
SMTP_USERNAME = "{{ BAM_SMTP_USERNAME }}"
SMTP_PASSWORD = "{{ BAM_SMTP_PASSWORD }}"